#{extends 'main.html' /}
#{set title:'Apotheek van wacht' /}

<div id="bodyWrapper">
    <div id="body">
        <div id="loadingMessage">De apotheek van wacht het dichtst bij je in de buurt komt er aan.<br/><img class="spinner" src="/public/images/ajax-loader.gif"></div>
    </div>
</div>

<script>
    $(function () {
        moment.lang("nl");

        if(!navigator.geolocation) {
            navigator.geolocation = geolocationShim();
        }

        navigator.geolocation.getCurrentPosition(function (location) {
            zoekApothekenVanWacht(location.coords);
        });

        function zoekApothekenVanWacht(coordinates) {
            $.get('/zoekApothekenVanWacht/' + coordinates.latitude + '/' + coordinates.longitude, function (data) {
                if(data.length == 0) {
                   showError();
                    return;
                }
                $('#loadingMessage').hide();
                var apotheekVanWacht = data[0];
                var section = $('<div class="apotheekVanWacht">').append($('<h3>').html(apotheekVanWacht.naam));
                var address = apotheekVanWacht.straatEnNummer + " - " + apotheekVanWacht.stad;
                var tel = $('<div class="tel">').html($('<a>').attr('href', 'tel:' + apotheekVanWacht.tel).html(apotheekVanWacht.tel));
                if (apotheekVanWacht.url) {
                    tel.append(' - ').append($('<a>').attr('target', '_blank').html('Website').attr('href', apotheekVanWacht.url));
                }
                section
                        .append($('<div>').html($('<a>').attr('target', '_blank').attr('href', 'http://maps.google.com/maps?daddr=' + address).html(address)))
                        .append($('<div>').html("(" + formatAfstand(apotheekVanWacht.afstand) + " van hier)"))
                        .append(tel)
                        .append($('<div>').html("Wachtdienst eindigt " + moment(apotheekVanWacht.eindDatum, "DD/MM/YYYY hh:mm:ss").calendar()))
                        .appendTo($('#body'));
            }).error(function() {
                showError();
            });
        }

        function geolocationShim() {
            var shim = {};
            shim.getCurrentPosition = function (callback) {
                $.ajax({
                    type: 'GET',
                    url: 'http://freegeoip.net/json/',
                    dataType: "jsonp",
                    success: function (data, status) {
                        callback({ coords: { 'latitude': data.latitude, 'longitude': data.longitude }});
                    }
                });
            }
            return shim;
        }

        function showError() {
            $('#loadingMessage').html('Het spijt ons, maar er ging iets mis. Probeer het op <a href="http://www.apotheek.be/apotheker/apotheek-van-wacht">apotheek.be</a>.');
        }

        function formatAfstand(afstand) {
            if(afstand < 1) {
                return "minder dan een kilometer";
            }
            return afstand.toFixed(0) + " kilometer";
        }

        function olderThanIE9() {
            return $.browser.msie && $.browser.version < 9;
        }
    });
</script>