#{extends 'main.html' /}
#{set title:'Apotheek van wacht' /}

<div id="bodyWrapper">
    <div id="body">
        <div id="loadingMessage">De apotheek van wacht het dichtst bij je in de buurt komt er aan.<br/><img class="spinner" src="/public/images/ajax-loader.gif"></div>
    </div>
</div>

<script>
    $(function () {
        moment.lang("nl");

        if(!navigator.geolocation) {
            navigator.geolocation = geolocationShim();
        }

        navigator.geolocation.getCurrentPosition(function (location) {
            zoekApothekenVanWacht(location.coords.latitude, location.coords.longitude);
        });

        function zoekApothekenVanWacht(latitude, longitude) {
            getPostalCode(latitude, longitude, zoekApothekenVanWachtMetPostcode);
        }

        function zoekApothekenVanWachtMetPostcode(latitude, longitude, postalCode) {
            $.get('/zoekApothekenVanWacht/' + latitude + '/' + longitude + "/" + postalCode, function (data) {
                if(data == "bellen") {
                    showBellenMessage();
                    return;
                }
                if(data.length == 0) {
                    showError();
                    return;
                }
                $('#loadingMessage').hide();
                var apotheekVanWacht = data[0];
                var section = $('<div class="apotheekVanWacht">').append($('<h3>').html(apotheekVanWacht.naam));
                var address = apotheekVanWacht.straatEnNummer + " - " + apotheekVanWacht.stad;
                var tel = $('<div class="tel">').html($('<a>').attr('href', 'tel:' + apotheekVanWacht.tel).html(apotheekVanWacht.tel));
                if (apotheekVanWacht.url) {
                    tel.append(' - ').append($('<a>').attr('target', '_blank').html('Website').attr('href', apotheekVanWacht.url));
                }
                section
                        .append($('<div>').html($('<a>').attr('target', '_blank').attr('href', 'http://maps.google.com/maps?daddr=' + address).html(address)))
                        .append($('<div>').html("(" + formatAfstand(apotheekVanWacht.afstand) + " van hier)"))
                        .append(tel)
                        .append($('<div>').html("Wachtdienst eindigt " + moment(apotheekVanWacht.eindDatum, "DD/MM/YYYY hh:mm:ss").calendar()))
                        .appendTo($('#body'));
            }).error(function(err) {
                console.dir(err)
                showError();
            });
        }

        function getPostalCode(latitude, longitude, callback) {
            $.get('https://maps.googleapis.com/maps/api/geocode/json?latlng=' + latitude + ',' + longitude + '&sensor=false', function (data) {
                callback(latitude, longitude, postalCode(data));
            });

            function postalCode(data) {
                return data.results[0].address_components.findOne(function(component) {
                    return component.types[0] == "postal_code";
                }).long_name;
            }
        }

        function geolocationShim() {
            var shim = {};
            shim.getCurrentPosition = function (callback) {
                $.ajax({
                    type: 'GET',
                    url: 'http://freegeoip.net/json/',
                    dataType: "jsonp",
                    success: function (data, status) {
                        callback({ coords: { 'latitude': data.latitude, 'longitude': data.longitude }});
                    }
                });
            }
            return shim;
        }

        function showError() {
            $('#loadingMessage').html('Het spijt ons, maar er ging iets mis. Probeer het op <a href="http://www.apotheek.be/apotheker/apotheek-van-wacht">apotheek.be</a>.');
        }

        function showBellenMessage() {
            $('#loadingMessage').html('Tussen 22u en 9u moet je bellen naar het nummer <a href="tel:090392248">0903/92.248</a> voor de apotheek van wacht');
        }

        function formatAfstand(afstand) {
            if(afstand < 1) {
                return "minder dan een kilometer";
            }
            return afstand.toFixed(0) + " kilometer";
        }

        function olderThanIE9() {
            return $.browser.msie && $.browser.version < 9;
        }

        Array.prototype.findOne = function (predicate) {
            for (var i = 0; i < this.length; ++i) {
                if (predicate(this[i])) {
                    return this[i];
                }
            }
        }
    });
</script>